@use "sass:color";
@use "variables";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 1. Panel Fijo (Izquierda) */
.panel-fijo {
    position: fixed; /* ¡La clave para que no se mueva! */
    top: 0;
    left: 0;
    width: var(--fixed-panel-width);
    height: 100vh;
   background-color:variables.$tertiary-color;
    z-index: 10; /* Asegura que esté por encima de todo */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}
.panel-fijo img{
  margin-top: -65%;
  width: 100%;
  height: auto;
}
model-viewer  {
  flex: 1;
  width: 40vh;
  background-color: variables.$secondary-color;
}
model-viewer::part(scene) {
  height: 100%;
}
.redes-sociales{
  position: relative;
  top: 5%;
    display: flex;
    width: 90%;
    height: auto;
    left: 5%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}
.redes-sociales img {
  width: 40px;
}
.redes-sociales img:hover {
  transform: scale(1.2);
}

/* 2. Contenedor del Scroll (Derecha) */
.scroll-wrapper {
    /* Mueve todo el contenido de scroll hacia la derecha */
    margin-left: var(--fixed-panel-width); 
    width: calc(100% - var(--fixed-panel-width)); /* El ancho restante */
}

/* 3. Escena Inmersiva (Dentro del Scroll-Wrapper) */
.scene {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color:variables.$tertiary-color;
}

.title-container {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.title {
  position: relative;
  left: 12%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
    font-size: 11vw;
    font-weight: bold;
    color: variables.$text-color;
    line-height: 1;
    transform: translateZ(0); 
}

.inside-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0; 
    max-width: 600px;
}

.inside-content h2 {
    font-size: 18rem;
    font-family: 'pokemon', sans-serif;
    margin-bottom: 1rem;
     color: variables.$text-color;
}
.inside-content p{
  width: 100%;
    font-size: 2.5rem;
    margin-left: 22%;
    margin-bottom: 10%;
     color: variables.$text-color;
}
/* 4. Segunda Sección (Asegura el scroll) */
.next-section {
    height: 100vh;
    background: #111;
    padding: 2rem;
}

.contenedor-reloj {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

#reloj {
  width: 100%;
  display: flex;
  margin-left: 40%;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 5rem;
  letter-spacing: 3px;
  padding: 20px 40px;
  border-radius: 15px;
  color: variables.$text-color;;
 background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.7);
}

/* Pantallas medianas (tablets en horizontal, laptops pequeños) */
@media screen and (max-width: 1024px) {
 
  
}

/* Pantallas pequeñas (tablets en vertical, celulares grandes) */
@media screen and (min-width: 740px) and (max-width:770px){

    .inside-content h2 {
  position: absolute;
  margin-top: -55%;
  margin-left: 10%;
    font-size: 12rem;
}
}
@media screen and (min-width: 360px) and (max-width:740px){

  .title {
  position: relative;
  left: 4rem;
  top: -8rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
    font-size: 7vw;
    font-weight: bold;
    color: variables.$text-color;
    line-height: 1;
    transform: translateZ(0); 
}
.title-container {
  width: 80%;
  height: 40%;
  top: 10%;
  left: 15%;
}
.inside-content h2 {
  position: absolute;
    font-size: 3.5rem;
top: -130%;
left: 50%;
}
.inside-content p{
    font-size: 0.8rem !important;
    margin-left: 55%;
}

#reloj {
  margin-top: 30%;
  margin-left: 95%;
   width: 70%;
  font-size: 1rem;
  letter-spacing: 3px;
  padding: 20px 40px;
  border-radius: 15px;
  color: variables.$text-color;;
 background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.7);
}
.redes-sociales{
position: relative;
top: 14%;
left: 0%;
}
.redes-sociales img{
  
}
}
/* Pantallas grandes (monitores) */
@media (min-width: 1440px) {

}

/* Laptops */
@media (min-width: 1024px) and (max-width: 1439px) {

  .inside-content h2 {
  position: absolute;
  margin-top: -55%;
  margin-left: 10%;
    font-size: 14rem;
}
.contenedor-reloj {
  margin-left: 8%;
}

}
/* Tablets */
@media (min-width: 771px) and (max-width: 1023px) {
  
    .inside-content h2 {
  position: absolute;
  margin-top: -55%;
  margin-left: 10%;
    font-size: 12rem;
}
}